<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/auth/login">The Shoes Shop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <ul class="navbar-nav ms-auto me-0">
        <li class="nav-item">
          <a class="nav-link" href="/auth/chat">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/admin">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container text-center jumbotron mt-2 ">
  
<div class="container">
    
  <h2><i>List of Products </i></h2>
  {{#if products.length}}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Qty</th>
          <th scope="col">Imagen</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td>{{this.title}}</td>
            <td>{{price}}</td>
            <td>{{quantity}}</td>
            <td><img src="{{thumbnail}}" alt="{{thumbnail}}" width="50"></td>
            <td>  <!-- Celda para el botón "Eliminar 1 qty" -->
              <form action="/auth/decrementQty/{{this._id}}" method="POST">
              <input type="hidden" name="title" value="{{this._id}}">
              <button type="submit" class="btn btn-danger">DeleteOne</button>
            </form>
            </td>
            <td>  <!-- Celda para el botón "Agregar 1 qty" -->
              <form action="/auth/increaseQty/{{this._id}}" method="POST">
              <input type="hidden" name="title" value="{{this._id}}">
              <button type="submit" class="btn btn-warning">AddOne</button>
            </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <form action="/auth/emptyCart" method="POST" class="mt-5">
      <input class="btn btn-danger mb-3 mr-3" type="submit" value="Empty Cart" />
    </form>
    <form action="/auth/finish" method="post" class="">
      <input class="btn btn-primary mb-3 mr-3" type="submit" value="Finish Order" />
    </form>
  {{else}}
    <p>No se encontraron productos.</p>
  {{/if}}
  
</div>
</div>
