<div class="container text-center mt-5">
    <h5>Argumentos de entrada: {{entryArgs}}</h5>
<h5>Plataforma: {{platform}}</h5>
<h5>Versión de Node: {{versionNode}}</h5>
<h5>Memoria total reservada: {{memory}}</h5>
<h5>Path de ejecución: {{path}}</h5>
<h5>Process ID: {{processId}}</h5>
<h5>Directorio: {{dir}}</h5>
</div>
